<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Campground</title>
</head>
<body>
    <h1>Edit <%= campground.title %>  Campground</h1>
    
    <form id="editcampground" action="/campgrounds/<%= campground._id%>?_method=PUT" method="POST">
        <div>
            <label for="title">Enter title</label>
            <input type="text" id="title" value="<%=campground.title%> " name="campground[title]">
        </div>
        <div>
            <label for="desc">Enter Description</label>
            <input type="text" id="desc" value="<%= campground.description %> " name="campground[description]">
        </div>
        <div>
            <label for="location">Enter location</label>
            <input type="text" id="location" value="<%= campground.location %> " name="campground[location]">
        </div>
        <div>
            <button>Update Campground</button>
        </div>
    </form>
    <a href="/campgrounds/<%=campground._id%>">Back to Campground</a>
</body>
</html>