<% layout('layouts/boilerplate') %> 
<h1><%=campground.title%></h1>
<h2><%=campground.location%></h2>

<div class="container mt-5">
    <img src="<%=campground.image%>">
</div>
<div class="container mt-5">
    <p><%=campground.description%></p>
</div>  
<p>
    <a href="/campgrounds/<%=campground._id%>/edit">Edit</a>
</p>
<form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post">
    <button>Delete</button>
</form> 
<a href="/campgrounds">All CampGrounds</a>
